{% extends "base.html" %}

{% block title %} Admin {% endblock %}

{% block content %}
<div class="row">
    <div class="col-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Sleep</h4>
            <div class="container">
                <div class="donut-chart-block block"> 
                      <div class="donut-chart">
                          <div id="part1" class="portion-block"><div class="circle"></div></div>
                          <div id="part2" class="portion-block"><div class="circle"></div></div>
                          <div id="part3" class="portion-block"><div class="circle"></div></div>
                          <p class="center">7.1 Hours</p>        
                      </div>
                </div>
              </div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Recovery</h4>
            <div class="container">
                <div class="donut-chart-block block"> 
                      <div class="donut-chart">
                          <div id="part1" class="portion-block"><div class="circle"></div></div>
                          <div id="part2" class="portion-block"><div class="circle"></div></div>
                          <div id="part3" class="portion-block"><div class="circle"></div></div>
                          <p class="center">68% Recovered</p>        
                      </div>
                </div>
              </div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Calorie Intake</h4>
            <div class="container">
                <div class="donut-chart-block block"> 
                      <div class="donut-chart">
                          <div id="part1" class="portion-block"><div class="circle"></div></div>
                          <div id="part2" class="portion-block"><div class="circle"></div></div>
                          <div id="part3" class="portion-block"><div class="circle"></div></div>
                          <p class="center">90% Consumed</p>        
                      </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}