{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">To-do list</h4>
        <a href="https://calendar.google.com/calendar/u/0/r" target="blank"><button id="calView">View Calendar</button></a>
        <ul>
          {% for event in list_of_events %}
            <li>
              <ul class="no-bullets">
                <li>{{ event[0] }}</li>
                <li>{{ event[1] }}</li>
                <li>{{ event[2] }}</li>
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create Event</h4>
        <form action="/create-event" method="POST">
          <label for="event-name">Event Name:</label>
          <input type="text" id="event-name" name="event-name"><br><br>
          <label for="event-description">Event Description:</label>
          <textarea id="event-description" name="event-description"></textarea><br><br>
          <label for="event-location">Event Location:</label>
          <input type="text" id="event-location" name="event-location"><br><br>
          <label for="event-start-date">Event Start Date:</label>
          <input type="date" id="event-start-date" name="event-start-date"><br><br>
          <label for="event-start-time">Event Start Time:</label>
          <input type="time" id="event-start-time" name="event-start-time"><br><br>
          <label for="event-end-date">Event End Date:</label>
          <input type="date" id="event-end-date" name="event-end-date"><br><br>
          <label for="event-end-time">Event End Time:</label>
          <input type="time" id="event-end-time" name="event-end-time"><br><br>
          <input type="submit" value="Create Event">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}