{% extends "base.html" %}

{% block title %} Coach {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"> Coaches</h4>
              <!-- <i class ="mdi mdi-grease-pencil" style ="float: right;"></i> -->
                <form class ="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type ="text" class="form-control" placeholder ="Search">
                </form>
            <div class="d-flex flex-row justify-content-between">
              <h3 class="card-title"> Names </h4>
              <h5 class="text-muted mb-2 small" style="text-align: right;">Sort by:</p>
              <p class="text-muted mb-1 small"> Last Name</p>
              <p class="text-muted mb-1 small"> Team </p>
            </div>
            <div class="preview-list">
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  <img src ="../../assets/images/faces/face6.jpg" alt ="image" class ="rounded-circle" />
                </div>
                <div class="preview-item-content d-flex flex-grow">
                  <div class="flex-grow">
                    <div class="d-flex d-md-block d-xl-flex justify-content-between">
                      <h3 class="preview-subject"> Coach 1 </h4>
                        <i class ="mdi mdi-grease-pencil" style ="float: right;"></i>
                    </div>
                  <p class ="text-muted"> Team 1 </p>
                  </div>
                </div>
              </div>
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  <img src ="../../assets/images/faces/face7.jpg" alt ="image" class ="rounded-circle" />
                </div>
                <div class="preview-item-content d-flex flex-grow">
                  <div class="flex-grow">
                    <div class="d-flex d-md-block d-xl-flex justify-content-between">
                      <h3 class="preview-subject"> Coach 2 </h4>
                        <i class ="mdi mdi-grease-pencil" style ="float: right;"></i>
                    </div>
                  <p class ="text-muted"> Team 2 </p>
                  </div>
                </div>
              </div>
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  <img src ="../../assets/images/faces/face8.jpg" alt ="image" class ="rounded-circle" />
                </div>
                <div class="preview-item-content d-flex flex-grow">
                  <div class="flex-grow">
                    <div class="d-flex d-md-block d-xl-flex justify-content-between">
                      <h3 class="preview-subject"> Coach 3 </h4>
                        <i class ="mdi mdi-grease-pencil" style ="float: right;"></i>
                    </div>
                    <div id ="mySidepanel" class ="sidepanel">
                      <div class="d-flex d-md-block d-xl-flex justify-content-between">
                        <!-- how to add a sidepanel expand on the right when click on the name? -->
                      </div>
                    </div>
                  <p class ="text-muted"> Team 3 </p>
                  </div>
                </div>
              </div>
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  <img src ="../../assets/images/faces/face9.jpg" alt ="image" class ="rounded-circle" />
                </div>
                <div class="preview-item-content d-flex flex-grow">
                  <div class="flex-grow">
                    <div class="d-flex d-md-block d-xl-flex justify-content-between">
                      <h3 class="preview-subject"> Coach 4 </h4>
                        <i class ="mdi mdi-grease-pencil" style ="float: right;"></i>
                    </div>
                  <p class ="text-muted"> Team 4 </p>
                  </div>
                </div>
              </div>
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  <img src ="../../assets/images/faces/face10.jpg" alt ="image" class ="rounded-circle" />
                </div>
                <div class="preview-item-content d-flex flex-grow">
                  <div class="flex-grow">
                    <div class="d-flex d-md-block d-xl-flex justify-content-between">
                      <h3 class="preview-subject"> Coach 5 </h4>
                        <i class ="mdi mdi-grease-pencil" style ="float: right;"></i>
                    </div>
                  <p class ="text-muted"> Team 5 </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}