{% extends "base.html" %}

{% block title %} Edit {{edit_user.first_name}} {{edit_user.last_name}}'s Information {% endblock %}

{% block content %}
<div class="row">
    <div class="stretch-card">
        <div class="card-body">
            <h4 class="card-title">{{edit_user.first_name}} {{edit_user.last_name}}</h4>
            <div class="container">
                <form method="post">
                    <p>
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name"
                                value={{edit_user.first_name}}
                                placeholder="First Name">
                    </p>
                    <p>
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name"
                                value={{edit_user.last_name}}
                                placeholder="Last Name">
                    </p>
                    <p>
                        <label for="email">Email</label>
                        <input type="email" name="email"
                                value={{edit_user.email}}
                                placeholder="Email">
                    </p>
                    <p>
                        <label for="role"> Role: </label>
                        <select name="role" id="role">
                            <option value="athlete">Athlete</option>
                            <option value="coach">Coach</option>
                            <option value="admin">Admin</option>
                        </select>
                    </p>
                    {% if edit_user.access == 1 or edit_user.access == 0 %}
                        <p>
                            <label for="team"> Team: </label>
                            <input type="text" name="team" class="live-search-box form-control" placeholder={{edit_user.team}} >
                        </p>
                    {% elif edit_user.access == 2 %}
                        <p>
                            <label for="branch"> Branch: </label>
                            <select name="branch" id="branch">
                                <option value="Strength and Training">Strength and Training</option>
                                <option value="Sports Science">Sports Science</option>
                                <option value="Sports Medicine">Sports Medicine</option>
                                <option value="Performance Psychology">Performance Psychology</option>
                                <option value="Nutrition">Nutrition</option>
                            </select>
                        </p>
                    {% endif %}
                    <br>
                    <p>
                        <button type="confirm">Confirm Changes</button>
                        <!-- <button type="delete">Remove Access to the System</button> -->
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}