<!DOCTYPE html>
<html>
<head>
    <title>GFG</title>
</head>
<body>

    <body style="background-color: #3e3e3e;" >

</body>

<div style="background: #002aff; border: 20px solid #002aff; color:  #ffffff; text-decoration:none;  font-size: 30px">Reports</div>
<br />
<input type="text" class="live-search-box" placeholder="search teams" />
  
<ul class="live-search-list" type="None" style="color:  #ffffff;" >
<b>Mens Sports</b>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Alpine Skiing</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Baseball</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Basketball</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Crew</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Cross Country</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Football</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Golf</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Ice Hockey</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Lacrosse</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Nordic Skiing</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Soccer</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Squash</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Swimming & Diving</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Tennis</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Track & Field</a></li>
<br />
<br />
<b>Womens Sports</b>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Alpine Skiing</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Basketball</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Crew</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Cross Country</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Field Hockey</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Ice Hockey</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Lacrosse</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Nordic Skiing</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Soccer</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Softball</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Squash</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Swimming & Diving</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Tennis</a></li>
<li><a class="live-search-list" href="teamreport.html" style="color:  #ffffff; text-decoration:none;">Track & Field</a></li>

  
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  
<script type="text/javascript">
    jQuery(document).ready(function($){
  
$('.live-search-list li').each(function(){
$(this).attr('data-search-term', $(this).text().toLowerCase());
});
  
$('.live-search-box').on('keyup', function(){
  
var searchTerm = $(this).val().toLowerCase();
  
    $('.live-search-list li').each(function(){
  
        if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
            $(this).show();
        } else {
            $(this).hide();
        }
  
    });
  
});
  
});
</script>
  
</body>
</html>