{% extends "base.html" %}

{% block title %} Generate Reports {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Reports </h4> 
                <hr>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Teams </button>
                        <div class="dropdown-menu{max-height:20px;overflow:scroll;}" aria-labelledby="dropdownMenuButton2">
                            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                <input type="text" class="form-control" placeholder="Search teams">
                            </form>
                            <div class=" grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="dropdown-header">Mens Sports</h6>
                                            <a class="dropdown-item" href="teamreportjs.html">Alpine Skiing</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Baseball</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Basketball</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Crew</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Cross Country</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Football</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Golf</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Ice Hockey</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Lacrosse</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Nordic Skiing</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Soccer</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Squash</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Swimming & Diving</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Tennis</a>
                                            <a class="dropdown-item" href="teamreportjs.html">Track & Field</a>
                                     </div>
                                </div>
                            </div>
                            <div class=" grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- <div class="col-lg-6 grid-margin stretch-card"> -->
                                        <!-- <div class="dropdown-divider"></div> -->
                                        <h6 class="dropdown-header">Womens Sports</h6>
                                        <a class="dropdown-item" href="teamreportjs.html">Alpine Skiing</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Basketball</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Crew</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Cross Country</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Field Hockey</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Ice Hockey</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Lacrosse</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Nordic Skiing</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Soccer</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Softball</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Squash</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Swimming & Diving</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Tennis</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Track & Field</a>
                                        <a class="dropdown-item" href="teamreportjs.html">Volleyball</a>
      
                                    </div>
                                </div>
                            </div>
                            

                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}