{% extends "base.html" %}
{% block content %}
  <div class="page-header">
    <h3 class="page-title"> Report </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
      </ol>
    </nav>
  </div>
  <a href="../static/images/samples/SampleReport.pdf" download="SampleReport.pdf" >
  <br>
  &ensp;
  <button type="button" class="btn btn-primary btn-fw">Download File</button>
  <br>

  <br>

  <img src="../static/images/samples/SampleReport.png" alt="image" height=600pc>
{% endblock %}

