{% extends "base.html" %}

{% block title %} Settings {% endblock %}

{% block content %} 
<div class="row">
    <div class="stretch-card">
        <div class="card-body">
            <h4 class="card-title">{{edit_user.first_name}} {{edit_user.last_name}}</h4>
            <div class="container">
                <form method="post" action="/settings">
                    <p>
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name"
                                value={{edit_user.first_name}}
                                placeholder="First Name">
                    </p>
                    <p>
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name"
                                value={{edit_user.last_name}}
                                placeholder="Last Name">
                    </p>
                    <p>
                        <label for="email">Email</label>
                        <input type="email" name="email"
                                value={{edit_user.email}}
                                placeholder="Email">
                    </p>
                    <p>
                        <label for="role"> Role: </label>
                        <select name="role" id="role">
                            <option value="athlete">Athlete</option>
                            <option value="coach">Coach</option>
                            <option value="admin">Admin</option>
                        </select>
                    </p>

                    <p>
                        <button type="confirm">Confirm Changes</button>
                        <!-- <button type="delete">Remove Access to the System</button> -->
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}