{% extends "base.html" %}

{% block title %} Super Admin {% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Teams </h4>
        <hr>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Team</th>
                <th>Sleep</th>
                <th>Quality</th>
                <th>Recovery</th>
                <th>Calorie Intake</th>
              </tr>
              <tbody>
                <tr>
                  <td>Alpine Skiing (M)</td>
                  <td>9.0hr</td>
                  <td>78%</td>
                  <td>68%</td>
                  <td>80%</td>
                </tr>
                <tr>
                  <td>Alpine Skiing (W)</td>
                  <td>9.0hr</td>
                  <td>78%</td>
                  <td>68%</td>
                  <td>80%</td>
                </tr>
                <tr>
                  <td>Baseball</td>
                  <td>9.0hr</td>
                  <td>78%</td>
                  <td>68%</td>
                  <td>80%</td>
                </tr>
                <tr>
                  <td>Basketball (M)</td>
                  <td>9.0hr</td>
                  <td>78%</td>
                  <td>68%</td>
                  <td>80%</td>
                </tr>
                <tr>
                  <td>Basketball (W)</td>
                  <td>9.0hr</td>
                  <td>78%</td>
                  <td>68%</td>
                  <td>80%</td>
                </tr>
              </tbody>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Sleep</h4>
        <div class="container">
            <div class="donut-chart-block block"> 
                  <div class="donut-chart">
                      <div id="part1" class="portion-block"><div class="circle"></div></div>
                      <div id="part2" class="portion-block"><div class="circle"></div></div>
                      <div id="part3" class="portion-block"><div class="circle"></div></div>
                      <p class="center">7.1 Hours</p>        
                  </div>
            </div>
          </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Recovery</h4>
        <div class="container">
            <div class="donut-chart-block block"> 
                  <div class="donut-chart">
                      <div id="part1" class="portion-block"><div class="circle"></div></div>
                      <div id="part2" class="portion-block"><div class="circle"></div></div>
                      <div id="part3" class="portion-block"><div class="circle"></div></div>
                      <p class="center">68% Recovered</p>        
                  </div>
            </div>
          </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Calorie Intake</h4>
        <div class="container">
            <div class="donut-chart-block block"> 
                  <div class="donut-chart">
                      <div id="part1" class="portion-block"><div class="circle"></div></div>
                      <div id="part2" class="portion-block"><div class="circle"></div></div>
                      <div id="part3" class="portion-block"><div class="circle"></div></div>
                      <p class="center">90% Consumed</p>        
                  </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
            <input type="text" class="form-control" placeholder="Search Team">
        </form>
        <div id="wrapper">
            <ul>
                <li>Men's Soccer</li>
                <li>Women's Soccer</li>
                <li>Football</li>
                <li>Baseball</li>
                <li>Softball</li>
                <li>Swim</li>
                <li>Men's Track</li>
                <li>Women's Track</li>
                <li>Hockey</li>
                <li>Women's Basketball</li>
                <li>Men's Basketball</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}